# CPSC 537 Final Project

## 1. Fetch Players, Teams, Games and Drafts Data

The basketball dataset is fetched through nba_api, which is an API Client for https://www.nba.com. We saved it as basketball.sqlite under Data directory. Here is the link to this API: https://github.com/swar/nba_api.

In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
db_path = './RawData/basketball.sqlite'
connection = sqlite3.connect(db_path)
cursor = connection.cursor()
cursor.execute('SELECT name from sqlite_master where type= "table"')
table_names = [table[0] for table in cursor.fetchall()]
print(table_names)
connection.close()

['Player', 'Team', 'Team_Attributes', 'Team_History', 'Player_Attributes', 'Game_Officials', 'Game_Inactive_Players', 'Team_Salary', 'Player_Salary', 'Draft', 'Draft_Combine', 'Player_Photos', 'Player_Bios', 'Game', 'News', 'News_Missing']

Here are 16 tables in this dataset. The names are: Player, Player_Attributes, Player_Salary, Player_Photos, Player_Bios, Team, Team_Attributes, Team_History, Team_Salary, Game, Game_Officials, Game_Inactive_Players, News, News_Missing, Draft, Draft_Combine.

## 2. Download NBA Team Annual Attendance, Historical NBA Performance Dataset

We download NBA team annual attendance data and historical NBA performance data from https://data.world/datasets/nba. Each dataset is a separate table, which contains the statistics of team's participation and performance in each year. The original data is in .xlsx format under Data directory.

In [3]:
performance = pd.read_excel(
    './RawData/Historical NBA Performance.xlsx', 
    header=0)
attendance = pd.read_excel(
    './RawData/NBA Team Annual Attendance.xlsx', 
    header=0)

In [4]:
performance.head()

      Year     Team Record  Winning Percentage
0  2016-17  Celtics  25-15               0.625
1  2015-16  Celtics  48-34               0.585
2  2014-15  Celtics  40-42               0.488
3  2013-14  Celtics  25-57               0.305
4  2012-13  Celtics  41-40               0.506

In [5]:
attendance.head()

,Starting Year,Rank,Team,Home: Total Games,Home: Total Attendance,Home: Avg Attendance,Home: % Capactiy,Away: Total Games,Away: Total Attendance,Away: Avg Attendance,Away: % Capactiy
0,2015.0,1.0,Bulls,41.0,894659.0,21820.0,104.3,41.0,18156.0,94.5,82.0
1,2015.0,2.0,Cavaliers,41.0,843042.0,20562.0,100.0,41.0,18910.0,98.2,82.0
2,2015.0,3.0,Mavericks,41.0,825901.0,20143.0,104.9,41.0,17727.0,93.4,82.0
3,2015.0,4.0,Raptors,41.0,812863.0,19825.0,100.1,41.0,17162.0,89.2,82.0
4,2015.0,5.0,NY Knicks,41.0,812292.0,19812.0,100.0,41.0,18440.0,96.0,82.0

## 3. Build a New Database

Here we connect all of these dataset together and build a new database.

In [6]:
db_path = './RawData/basketball.sqlite'
new_db_path = './DataBase/nba_data.sqlite'
src = sqlite3.connect(db_path)
dst = sqlite3.connect(new_db_path)

with dst:
    src.backup(dst)
    
src.close()

In [7]:
performance.to_sql('Performance', dst, if_exists='append', index=False)

/Users/chenjiawen/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [8]:
attendance.to_sql('Attendance', dst, if_exists='append', index=False)

In [9]:
cursor = dst.cursor()
cursor.execute('SELECT name from sqlite_master where type= "table"')
table_names = [table[0] for table in cursor.fetchall()]
print(table_names)

['Player', 'Team', 'Team_Attributes', 'Team_History', 'Player_Attributes', 'Game_Officials', 'Game_Inactive_Players', 'Team_Salary', 'Player_Salary', 'Draft', 'Draft_Combine', 'Player_Photos', 'Player_Bios', 'Game', 'News', 'News_Missing', 'Performance', 'Attendance']

In [10]:
cursor.execute('SELECT * from Attendance')
len(cursor.fetchall())

476

In [11]:
cursor.execute('SELECT * from Performance')
len(cursor.fetchall())

1417

In [12]:
dst.close()

From the output above, we successfully connect two dataset together. The new database named nba_data is under DataBase directory.